<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
        {{!-- <link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" /> --}}
        <title>HBR Scraper</title>
        
    </head>

	<body>
		{{{ body }}}
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="public/assets/js/app.js"></script>
	</body>

</html>